.sides-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    background-color: white;
    padding: 10px;
    max-width: 470px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 16px;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.input-form {
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid gray;
    color: gray;
    border-radius: 10px 10px 0 0;
}

.input-form:focus {
    outline: none;
    border-color: dodgerblue;
}

.action {
    border: none;
    background-color: rgb(255, 98, 98);
    padding: 5px 10px;
    transition: all 250ms;
    border-radius: 5px;
}

.action:hover {
    background-color: rgb(238, 176, 176);
}